@charset "UTF-8";

* {
  border: 0;
  margin: 0;
  font-family: 'Inknut Antiqua', 'Macondo', sans-serif;
  line-height: 25px;
}

body {
  font-family: 'sans-serif';
  scroll-behavior: smooth;
}

/* ------------------------------ */
/* ------------Header------------ */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: linear-gradient(to top, rgb(168, 92, 249), rgb(85, 52, 165), rgb(75, 123, 229));
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
  0% {
    background-position: 50% 0;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0;
  }
}

#capa {
  width: 250px;
  height: auto;
  border-radius: 5% 25%;
}

#Sumário {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

#Sumário > button > a {
  text-decoration: none;/* Remove o sublinhado dos hiperlinks*/
  color: black;
}

.btn {
  width: 120px;
  height: 60px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  background-color: white;
  color: black;
  transition: 1s ease;
}

.bnt::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  background: transparent;
  height: 50%;
  width: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(8px);
  transition: 1s ease;
}

.btn:hover::before {
  background: white;
  top: 70px;
}

/* ------------------------------ */
/* -------Main 1ª Section-------- */
main {
  /* background-color: #4B7BE5; */
  background: linear-gradient(to top, rgb(111, 223, 223), rgb(75, 123, 229), rgb(85, 52, 165));
}

#primeiraSection {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
}

#sobreMim {
  width: 100%;
  padding-bottom: 10px;
}

#sobreMim > p {
  /* line-height: 25px; */
}

#projetos {
  width: 100%;
}

#projetos > hr {
  border: 1px;
  width: 100%;
  margin: 5px auto;
}

#seperaSection {
  width: 80%;
  border: 1px solid rgb(85, 52, 165);
  margin: 0 auto;
}
/* ------------------------------ */
/* -------Main 2ª Section-------- */
#segundaSection {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 5px;
}

#habilidades {
  width: 30%;
}

#curiosidades {
  width: 30%;
}

/* ------------------------------ */
/* ------------Footer------------ */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: linear-gradient(to top, rgb(75, 123, 229), rgb(111, 223, 223));
  background-color: #6FDFDF;
}

.logo {
  width: 50px;
  height: auto;
  padding: 5px;
}