@charset "UTF-8";

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'sans-serif';
}

p {
    color: aquamarine;
}

#Sumário {
    font-size: 15px;
}

.logo {
    width: 50px;
    height: auto;
}
.capa {
    width: 250px;
    height: auto;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 250px; /*Tamanho da borda*/
    margin: auto; /*Centraliza a imagem*/
}

img {

}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller;
    padding: 3px;
    text-align: center;
}